#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.graph{
  background-color: rgb(53, 53, 53);
}

/* /* tooltip{
  pointer-events: all;
  fill-opacity:0;
  stroke-opacity: 0;
  z-index: 1;
} */

.tooltip{
  position:relative;
  background-color: rgba(12, 8, 0, 0.568);
  color:white;
  border:3px solid white;
  border-radius: 2px;
  opacity:0;
  z-index: 99;
  padding:3px;
} 

.bar:hover {
  fill:rgba(158, 115, 6, 0.578);
  cursor:pointer;
}


.tooltip2{
  position:relative;
  background-color: rgba(12, 8, 0, 0.568);
  color:white;
  border:3px solid white;
  border-radius: 2px;
  opacity:0;
  z-index: 99;
  padding:3px;
  width:6rem;
  height:3rem;
} 


.heatc:hover {
  fill:rgba(158, 115, 6, 0.578);
  cursor:pointer;
}

.xdiv {
 position:absolute;
}